@media screen and (max-width:1024px) /*1024x768*/
{
    /*------------------------Header------------*/

    nav {
        margin-right: -5%;
    }

    /*-------------------------Recherche---------- */

    .Part2 h1 {
        font-size: 160%;
    }

    .Part2 p {
        font-size: 125%;
    }

    /*------------------------Filtres------------*/

    .Filters {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .ss_fi p {
        font-size: 115%;
    }

    /*------------------------Section-----------*/
    .contenu {
       flex-direction: column-reverse;
        }

    .left {
          width: 100%;
          padding-top: 1.5px;
        }

    
    .right {
        margin-bottom: 20px;
        height: 300px;
        width: 100%;
        display: inline-block;
        align-items: center;
        }

    .right h2 {
        margin-top: 4%;
        margin-left: 4%;
        }

    .H2_1 svg {
         margin-top: 4%;
         margin-right: 4%;
        }

    .contenu2 {
        margin-left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
       height: 160px;
        }

    .contenu2_1 {
        width: 50%;
        margin-left: 2%;
        margin-right: 2%;
        }

/*--------------------------Activités-----------*/

    .activity_1 {
    height: 350px;
    }

    .activity_2 {
    height: 150px;
    }

    .activity_3 {
    height: 170px;
    }

    .activity_4 {
    height: 350px;
    }

    .activity_4 .description_3 {
    display: flex;
    align-items:center;
    }

    .activity_5 {
    height: 160px;
    }

    .activity_5 .description_3 {
    display: flex;
    align-items:center;
    }

    .activity_6 {
    height: 160px;
    }

    .Reno {
    background-size: 220%;
    background-position: top;
    }

    .Paul {
    background-size: 100%;
    background-position: center -110px ;
    }

    .Kevin {
    /* background-size: -300%; */
    background-position: center 0px;
    }

    .Kil {
    background-size: 217.5%;
    background-position: center 0px;
    }

    .Flo {
    background-size: 100%;
    background-position: center 0px;
    }

    .Lena {
    background-size: 100%;
    background-position: center -12.5px;
    }

    /*------------------Footer-------------------*/

.footer {
    margin-top: -80px;
}

}


@media screen and (max-width: 500px) {

/*----------------------------Général--------------------------------*/
.container {
    /* border: 3px solid firebrick; */
    width: 95%;
    padding : 0px 5px 0px 15px;
}

/*----------------------------Header---------------------------------*/

header {
    border: 3px solid green;
    width: 100%;
    
}

img {
    width:40%;
    /* border: 3px solid cornflowerblue;  */
} 

.logo {
     width: 100%; 
    display: flex;
    justify-content: space-between;
    /* border: 3px solid rebeccapurple;  */
    
}

/*----------------------------Navigation-----------------------------*/
.Part1 {
    /* border: 3px solid khaki; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 0%;
}

.Part1 nav {
    border: 3px solid seagreen;
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
   
    
    

    
}

.Part1 ul {
    /* border: 3px solid lightseagreen; */
    display: flex;
    /* flex-wrap: wrap; */
    
}

nav li {
    font-size: 0.5vw;
    display: flex;
    width: 100%;
}

.order:nth-child(1){
    order: 2;
    font-size: 20px;
    width: 100%;
    border: 3px solid transparent;
}

.order:nth-child(2) {   
    order: 3;
   font-size: 20px;
  width: 100%;
    border: 3px solid transparent;
}

.order:nth-child(3){
    order: 1;
    font-size: 17.5px;
    border-bottom: none;
    width: 50%;
}

.Part1 nav li a:hover {
    color: #0065FC;
    border-top: none;
    border-bottom: 2px solid #0065FC;
    padding-bottom: 5px;
    
}

.register {
   font-size: 20px;
   position: absolute;
   right: 10px;
   top:30px;
}

.logo a {
    display: flex;
    align-items: center;
}

/*----------------------------Recherche------------------------------*/

.Part2 {
    border: 3px solid darkolivegreen;
    /* margin-top: 20%; */
   margin-left: 0px;
    width: 100%;
}

.Part2 h1 {
    font-size: 6vw;
    padding-left: 20px;
}

.Part2 p {
    /* font-size: 1.6em; */
    padding-left: 20px;
}

.search_bar{

    width: 100%;
    display: flex;
    /* justify-content: center; */
    padding-left: 10px;
    
    
}

.button {
    text-align: center;
}


.button1 {
    height: 50px;
    width: 55px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-color: #F2F2F2;
    border-style: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-content: center;
}

.button1 svg {
    height: 20px;
    align-items: center;
}

.search1 {
    padding-left: 20px ;
    font-size: 20px;
     width: 75%;
    height: 50px; 
    border: 3px solid #f2f2f2;
    outline: none;
    color: black;
    font-weight: bold;
    font-family: 'Raleway';
}

.button2 {
    width: 50px;
    height: 50px;
    border-radius: 15px 15px 15px 15px;
    margin-left: -40px;
    display:flex;
    justify-content: center;
    align-content: center;
}

.button2 svg {
    height: 18px;
    color : white;
}

.button2 span {
    display: none;
}

.button2 svg ::before{
    content: "/f002";   
} 

.button2 a {
    display: none;
    text-decoration: none;
    color: white; 
}

/*----------------------------Filtres--------------------------------*/

.Part3 {
    /* border: 3px solid maroon; */
     /* margin-top: 5%; */
     /* margin-bottom: -2%; */
     height: 450px;
 }
 
 .Part3 h2 {
     margin-left: 10px;
 }
 
 .Placement_filters {
     border: 3px solid salmon;
     display: flex;
     flex-wrap:wrap;
     margin: 0;
     width: 96%; 
     height: 70%;
     padding-left: 10px;
 }
 
.fil_but {
    /* border: 3px solid hotpink;   */
}

 .Default_filters {
     /* border: 3px solid turquoise; */
     font-size: 120%;
     height: 10%;
     width: 100%;
     margin-left: 15px; 
     
 }
 
 .Economic {
     /* border: 3px solid greenyellow; */
      height: 20%;
     width: 50%;
     /* margin-left: 10px;  */
 }
 
 .Family {
     /* border: 3px solid firebrick; */
     height: 20%;
     width: 40%;
     margin-left: 10px;
 }
 
 .Romantic {
    /* border: 3px solid orchid; */
    height: 20%;
    width: 50%;
    /* margin-left: 10px; */
 }
 
 .Animals {
    /* border: 3px solid aqua; */
    height: 20%;
    width: 66%;
    /* padding-left: 10px; */
 }
 
 .Button_filters {
     background-color: white;
     border-color: #d9d9d9;
     border-style: solid;
       width: 90%;
     height: 80%;  
     border-left-style:none ;
     border-radius: 0px 90px 90px 0px;
     margin-right: 50px;
     outline: none;
     margin-left: 20px;
     display: inline;
     padding-right: 15px;
     padding-left: 30px;
     font-weight: bold;
     align-content: center;
     font-size: 100%;
     /* border: 3px solid indigo ; */
     border-left: transparent;

 }
 
 .Button_filters a {
     color: black;
     text-decoration: none;
     font-size: 500%;
     display: flex;
     justify-content: flex-end;
     margin-right: 8%;
 }
 
 .Button_filters :hover {
     background-color: #0065FC;
     color: white;
 }
 
 .Button_filters_logo {
     background-color:#DEEBFF;
     width: 50px;
     height: 50px;
     display: inline-block;
     border-radius: 90px;
     border-style: none;
     position: absolute;
     color: #0065FC;
     display: flex;
     justify-content: center;
     outline: none;
 }

 .Button_filters_logo svg {
     height: 40%;
 }
 
 .Under_filters {
     border: 3px solid fuchsia;
     display: flex;
     justify-content: flex-start;
     margin-top: 0px;
     margin-bottom: 0px;
 }
 
 .Button_info {
     height: 20px;
     width: 20px;
     display: flex;
     justify-content: center;
     border-radius: 100px;
 }
 
 .Button_info svg {
     height: 12.5px;
     display: flex;
     justify-content: center;
 }
 
 .Under_filters p {
     margin-top: 2%;
    margin-left: 2%;
    font-size: 4vw;
 }

/*----------------------------Section--------------------------------*/

.contenu {
    /* border: 3px solid hotpink; */
    width: 100%;
    height: 200%; 
    margin: 0px 0px 0px 0px;
   
}

.contenu1 {
    /* border: 3px solid violet; */
     height: 5000px; 
    display: inline-block;
    margin-bottom: 1%;
    
    /* flex-direction: column; */
}

/*-----------Gauche------------*/

.left {
     height: 200%;  
    background-color: transparent;
    margin-top: -20px;
}

.left h2 {
    margin: 10% 0% 7% 2%;
   
} 

.div_left {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    /* margin-top: 3%; */
    /* padding-bottom: 50%; */
    border-radius: 25px;
    object-fit: cover; 
}

.description {
    /* border: 3px solid green; */
    border-radius: 0px 0px 25px 25px;
    width: 103.5%;
    /* margin: 0; */
    padding-left: 5px;
    padding-top: 0px;
    margin-bottom: -10px;
    margin-left: -10px;
   ;
    height: 80px; 
    
 }
 
 .description h3 {
     align-content: flex-start;
     font-size: 125%;
     padding-top: 20px;
     font-weight: bold; 
     padding-left: 15px;
     padding-bottom: 0px;
 }
 
 .description p {
      /* margin-top: 2%; */
      margin-bottom: 3.5%;
      padding-left: 15px;
      font-size: 110%;
 }
 
 .star {
     display: block;
    height: 40%;
    padding-left: 15px;
    padding-top: 22.5px;
    
 }

 .star_blue {
    height: 12.5px;
    color: #0065FC;
}

.star_hidden {
    height: 12.5px;
    color: #d9d9d9;
}
 
.Cannebière {
     
     border: 10px solid white;
     background: url("images/bannière_gauche/01.Cannebière.jpg") no-repeat;
     background-size: 100%;
     background-position:bottom;
     position: relative;
}
 
.Port {
     border: 10px solid white;
     background: url("images/bannière_gauche/02.Port.jpg") no-repeat;
     background-size: 100%;
     background-position: bottom;
     position: relative;
}
 
.Mouettes {
     border: 10px solid white;
     background: url("images/bannière_gauche/03.Mouettes.jpg") no-repeat; 
     background-size: 100%;
     background-position: bottom;
     position: relative;
}
 
.Mer {
     border: 10px solid white;
     background: url("images/bannière_gauche/04.Mer.jpg") no-repeat;
     background-size: 100%;
     background-position: bottom;
     position: relative;
}
 
.Panier {
     border: 10px solid white;
     background: url("images/bannière_gauche/05.Panier.jpg") no-repeat;
     background-size: 100%;
     background-position: bottom;
     position: relative;
}
 
.Amina {
     border: 10px solid white;
     background: url("images/bannière_gauche/06.Amina.jpg") no-repeat;
     background-size: 100%;
     background-position: center;
     position: relative;
}

#suite {
    /* font-size: 325%; */
    margin-left: 2%;
}

/*-----------Droite------------*/

.right {
    /* border: 3px solid teal; */
    width: 93vw;
    height: 800px;
     padding: 0px 27.5px 0px 27.5px;
    
    margin-left: -6%; 
    /* padding-left: 2%;
    padding-right: 2%; */
    border-radius: 0px;
    /* padding-bottom:12.5%; */
    /* margin-bottom: 0%; */
    background-color:#F2F2F2; 
}

.right h2 {
    /* border: 3px solid peru; */
     /* margin-left: -2%; */
     margin-top: 8%;
     font-size: 170%;

}

 .H2_1 {
    /* border: 3px solid red; */
      display: flex;
     justify-content: space-between;  
 }
 
 .H2_1 svg {
    /* border: 3px solid tomato; */
      height: 25px;
     margin-right:2%;
     margin-top: 8.5%; 
 }
 
 .contenu2 {
     /* border: 3px solid firebrick; */
     display: flex;
    flex-direction: column;
     height: 85%;
     margin-top: 0px;
     

   
     }
 
 .contenu2_1 {
     /* border: 3px solid red; */
     width: 100%;
     /* margin-bottom: 2.5% ;  */
     /* margin-top:2.5% ; */
    margin-left: 0%;
     height: 30%;
     border-radius: 25px;
 }
 
 .div_right {
     /* border: 3px solid yellow; */
     width: 50%;
     height: 100%;
     background-size:235px;
     object-fit: cover;
     border-radius: 25px 0px 0px 25px; 
   
     
 }
 
 .description_2 {
     /* border: 3px solid lawngreen; */
      border-radius: 0px 25px 25px 0px;
     width: 70%;
     height:100%;
     /* background-color:red; */
     color: black; 
     
 }
 
 .H3_p {
     /* border: 3px solid cadetblue; */
     height: 45%;
    
 }
 
 .H3_p h3 {
     font-size: 130%;
     font-weight: bold; 
 }
 
 .H3_p p {
    /* border: 3px solid fuchsia; */
     font-size: 115%; 
 }
 
 .star2 {
     /* border: 3px solid brown; */
    height: 20%; 
    
   
   
}
    
    

.star2 .star_blue {
    height: 35%;
    
      
 }

 .star2 .star_hidden {
    height: 35%;

 }
 
 .Soleil {
    border: 10px solid white;
    background:url("images/bannière_droite/01.Soleil.jpg") no-repeat ;
    background-size: 185%;
    background-position: center;
    position: relative;
    height: 90%;
 }
 
 .Coeur {
     border: 10px solid white;
    background:url("images/bannière_droite/02.Coeur.jpg") no-repeat ;
    background-size: 165%;
    background-position: center;
    position: relative;
    height: 90%;

 }
 
 .Blanc {
     border: 10px solid white;
    background:url("images/bannière_droite/03.Blanc.jpg") no-repeat ;
    background-size: 110%;
    background-position: center;
    position: relative;
    height: 90%;

 }
 
/*----------------------------Section 2------------------------------*/

.banner3 {
    /* border: 3px solid palegreen; */
    height: 100%;
    width: 100%;
    margin: 50px 0px 0px 0%;
    
}

.banner3 h2 {
    font-size: 150%;
    margin-bottom: 10%;
}

.banner3 h3 {
    font-size: 125%;
}

.activities {
    /* border: 3px solid blue; */
    flex-direction: column;
   
}

.description_3 {
    /* border: 3px solid yellow; */
    height: 65px;
    display: flex;
    text-align:start;
    align-items: center;
}

.activity_1 {
    width: 100%;
    height: 225px;
    margin-bottom: 30px; 
}

.activity_2 {
    width: 400%;
    height: 225px;
    margin-bottom: 30px;
}

.activity_3 {
    width: 400%;
    height: 225px;
    margin-bottom: 30px;
}

.activity_4 {
    width: 100%;
    height: 225px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.activity_5 {
    width: 400%;
    height: 225px;
    margin-bottom: 30px;
}

.activity_6 {
    width: 400%;
    height: 225px;
    /* margin-bottom: 50px; */
}

.Reno {
    background-size: 100%;
    background-position: left ; 
}

.Paul {
    background-size: 100%;
    background-position: left ;
}

.Kevin {
    background-size: 100%;
    background-position: left ;
    
}

.Kil {
    background-size: 100%;
    background-position: left ;
}

.Flo {
    background-size: 100%;
    background-position: left -10px;
}

.Lena {
    background-size: 100%;
    background-position: left ;
}


/*----------------------------Footer---------------------------------*/

.footer {
    /* border: 3px solid darkkhaki; */
    height: 1%;
    width: 104vw;
    /* margin-top: 250px; */
    padding-bottom: 30px;
    margin: 75px -10px -15px -10px;
}

.div_footer {
    /* border: 3px solid cornflowerblue; */
    width: 85%;
    display: inline-block;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 40px;
    margin-left: 3%;
}

.div_footer_1 {
   /* border: 3px solid hotpink;*/
    margin-top:40px;
    font-size: 120%;
}

.footer li {
    margin-top: 25px;
}

}
