/*----------------------Général--------------------*/
body {
    font-family: 'Raleway', sans-serif;
    
}

.container {
    /*border: 3px solid chocolate;*/
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.star_blue {
    height: 10px;
    color: #0065FC;
}

.star_hidden {
    height: 10px;
    color: #d9d9d9;
}

/*----------------------Header-----------------------*/
header {
    /*border: 3px solid orange; */
   
}

.Part1 {
   /* border: 3px solid khaki;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.logo {
   /* border: 3px solid red;*/
    display: flex;
}

img {
   /* border: 3px solid green;*/
    width: 30%;
}

/*------------------Navigation--------------------------*/

nav{
   /* border: 3px solid turquoise;*/
    width: 40%;
}

nav ul {
  /*  border: 3px solid blue;*/
   list-style-type: none;
   display: flex;
   justify-content: space-around;
}

nav li{
    /*border: 3px solid purple;*/
    list-style: none;
    display: inline;  
}

.inscrire {
    font-weight:bold;
    color: #0065FC;
}

nav li a {
   text-decoration: none;
   color: black;
   
   
    
}

nav li a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;

}

/*--------------------Recherche------------------------*/

.Part2 {
    /*border: 3px solid darkolivegreen;*/
    margin-top: 2.5%;
    margin-left:10px;
}

.Part2 h1 {
    font-size: 125%;
    margin-bottom: -7.5px;
    
}

.Part2 p {
    font-size: 15px;
}

.barre_recherche {
    display: flex;
    justify-content: flex-start;
}

.button {
    text-align: center;
}

.button1 {
    height: 40px;
    width: 45px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color: #F2F2F2;
    border-style: none;
    outline: none;
}

svg{
   margin: auto;
   height: 15px;
}

.recherche {
    height: 40px;
    border: 2px solid #f2f2f2;
    outline: none;
    color: rgba(128, 128, 128);
}

.button2 {
    background-color: #0065FC;
    font-weight: bold;
    height: 40px;
    width: 100px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: #0065FC ;
    border-style: none;
    outline: none;
}

.button2 a {
    text-decoration: none;
    color: white; 
}

/*---------------------------Filtres----------------------------*/

.Part3 {
   /* border: 3px solid maroon;*/
    margin-top: 1.5%;
}
.Part3 h2 {
    font-size: 15px;
    margin-left: 0.5%;
}

.Filtres {
    /*border: 3px solid salmon;*/
    display: flex;
    justify-content: space-around;
   justify-content: flex-start;
    width: 80%;
    margin-left: 10px;
}

.Fil {
    /*border: 3px solid turquoise;*/
    width:50px;
    height:30px;
    align-self:center;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 15px;
    vertical-align: middle;
    line-height: 30px;
}

.Eco {
    /*border: 3px solid greenyellow;*/
    
}

.Fam {
    /*border: 3px solid firebrick;*/
}

.Rom {
   /* border: 3px solid orchid;*/
}

.Ani {
   /* border: 3px solid aqua;*/
}

.but_fil {
    background-color: white;
    border-color: #d9d9d9;
    border-style: solid;
    /*width: 120px;*/
    height: 40px;
    border-left-style:none ;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 50px;
    outline: none;
    margin-left: 20px;
    display: inline;
    padding-right: 15px;
    padding-left: 30px;
    font-weight: bold;
}

.but_fil_logo {
    background-color:#DEEBFF;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50px;
    border-style: none;
    position: absolute;
    color: #0065FC;
    display: flex;
    justify-content: center;
    outline: none;
}

.ss_fi {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}

.buttoni {
    background-color: white;
    border-color: #d9d9d9;
    border-style: solid;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    color: #0065FC;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
    outline: none;
}

.buttoni svg{
    height: 11px;
    display: flex;
    justify-content: center;
}

.ss_fi p {
    margin-top: 15px;
    font-size: 12.5px;
}
/*----------------------------Section--------------------------------*/
.contenu {
    /*border: 3px solid teal;*/
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.contenu1 {
   /* border: 3px solid  chartreuse;*/
    width: 100%;
    height: 70%;
   display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content:space-around;
    margin-top: -1.5%;
}

/*-----------Gauche------------*/

.gauche {
   /* border: 3px solid orange;*/
    width: 62%;
    height: 630px;
    border-radius: 30px;
    background-color: #F2F2F2;
}

.gauche h2 {
   /* border: 3px solid peru;*/
margin-left: 4%;
margin-top: 5%;
}

.div_ga {
    
    width: 235px;
    height: 175px;
    background-size:235px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 2px 3px .4em rgba(128, 128, 128, 0.5) , -1px -1px .6em rgba(128, 128, 128, 0.5);
}

.des {
   /* border: 3px solid lawngreen;*/
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 15px 15px;
    width: 96%;
    height: 50px;
    padding-left: 4%;
    padding-top: 5%;
    margin-bottom: -2%;
    margin-left: 0%;
    background-color:white;
    color: black;
}

.des h3 {
    align-content: flex-start;
    font-size: 16px;
    margin-bottom: 0%;
    margin-top: -3%;
    padding-top: 0%;
    font-weight: bold;
}

.des p {
    margin-top: 0%;
    font-size: 14.5px;
}

.star {
    margin-top: -8%;
}

.Cannebière {
    
    border: 5px solid white;
    background: url("images/bannière_gauche/01.Cannebière.jpg") no-repeat;
    background-size: 235px;
    background-position: 0px -24px;
    position: relative;
}

.Port {
    border: 5px solid white;
    background: url("images/bannière_gauche/02.Port.jpg") no-repeat;
    background-size: 235px;
    background-position: 0px -20px;
    position: relative;
}

.Mouettes {
    border: 5px solid white;
    background: url("images/bannière_gauche/03.Mouettes.jpg"); 
    background-size: 235px;
    background-position: 0px -15px;
    position: relative;
}

.Mer {
    border: 5px solid white;
    background: url("images/bannière_gauche/04.Mer.jpg") no-repeat;
    background-size: 235px;
    background-position: 0px -50px;
    position: relative;
}

.Panier {
    border: 5px solid white;
    background: url("images/bannière_gauche/05.Panier.jpg") no-repeat;
    background-size: 235px;
    background-position: 0px -12px;
    position: relative;
}

.Amina {
    border: 5px solid white;
    background: url("images/bannière_gauche/06.Amina.jpg") no-repeat;
    background-size: 240px;
    background-position: 0px -115px;
    position: relative;
}

#suite {
    margin-left: 5%;
    margin-top: 4%;
    font-weight: bold;
    font-size: 17.5px;
}

/*-----------Droite------------*/

.droite {
   /* border: 3px solid orangered;*/
    width: 33%;
    height: 630px;
    border-radius: 30px;
    background-color: #F2F2F2;
}

.droite h2 {
   /* border: 3px solid peru;*/
    margin-left: 5%;
    margin-top: 8%;
}

.H2_1 {
   /* border: 3px solid silver;*/
    display: flex;
    justify-content: space-between; 
}

.H2_1 h2 {
    margin-left: 8%;
}

.H2_1 svg {
   /* border: 3px solid tomato;*/
    height: 25px;
    margin-right: 8%;
    margin-top: 8.5%;
}

.contenu2 {
    /*border: 3px solid firebrick;*/
    width: 82.5%;
    height: 85%;
    margin-left: 8%;
    padding-top: 15px;
}

.contenu2_1 {
   /* border: 3px solid darkmagenta;*/
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
    display:flex;
    justify-content:space-between;
    box-shadow: 2px 0px .4em rgba(128, 128, 128, 0.5) , 
    -1px -1px .6em rgba(128, 128, 128, 0.5);
    border-radius:15px ;
}

.div_dro {
    /*border: 3px solid mediumspringgreen;*/
    width: 40%;
    height: 140px;
    background-size:235px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

.des2 {
    /* border: 3px solid lawngreen;*/
    border-radius: 0px 15px 15px 0px;
    width: 70%;
    height:150px;
    background-color:white;
    color: black;
}

.H3_p {
    /* border: 3px solid cadetblue;*/
    margin-left: 5%; 
}

.H3_p h3 {
    font-size: 16px;
    font-weight: bold;
}

.H3_p p {
   /* border: 3px solid fuchsia;*/
    font-size: 14.5px;
    line-height: 0px;
}

.star2 {
    /* border: 3px solid brown;*/
    margin-left: 5%;
    padding-top: 37.5px;
}

.Soleil {
   border: 5px solid white;
   background:url("images/bannière_droite/01.Soleil.jpg") no-repeat ;
   background-size: 235px;
   background-position: top;
   position: relative;
}

.Coeur {
    border: 5px solid white;
   background:url("images/bannière_droite/02.Coeur.jpg") no-repeat ;
   background-size: 175px;
   background-position: top;
   position: relative;
}

.Blanc {
    border: 5px solid white;
   background:url("images/bannière_droite/03.Blanc.jpg") no-repeat ;
   background-size: 150px;
   background-position:center;
    position: relative;
}

/*----------------------------Section 2--------------------------------*/

.bannière3 {
    border: 3px solid chocolate;
    width: 100%;
    height: 525px;
    margin-top: 50px;
    
}

.activités {
    border:3px solid lawngreen;
    display: flex;
    justify-content: space-around;

}
.act1 {
    border: 3px solid khaki;
    width: 25%;
    height: 450px;
    margin-right: 35px;
    border-radius: 20px;
    
}

.act2_3 {
    border: 3px solid khaki;
    width: 25%;
    height: 450px;
    margin-right: 35px;
    border-radius: 20px;
   

}

.a2 {
    border: 3px solid gold;
    width: 100%;
    height: 45%;
    border-radius: 20px;

}

.a3 {
    border: 3px solid gold;
    width: 100%;
    height: 45%;
    margin-top: 10%;
    border-radius: 20px;
}

.act4 {
    border: 3px solid khaki;
    width: 25%;
    height: 450px;
    margin-right: 35px;
    border-radius: 20px;
    

}

.act5_6 {
    border: 3px solid khaki;
    width: 25%;
    height: 450px;
    border-radius: 20px;
    
    
}

.a5 {
    border: 3px solid gold;
    width: 100%;
    height: 45%;
    border-radius: 20px;
    
}
    


.a6 {
    border: 3px solid gold;
    width: 100%;
    height: 45%;
    margin-top: 10%;
    border-radius: 20px;
}
    

.des3{
    border: 3px solid orange;
    width: 100%;
    height: 59px;
    position: absolute;
    bottom: 0;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    

}

    
    
    


.H3_a {
    border: 3px solid yellowgreen;
}

.Reno {
    background:url("images/activité/01.Reno-XL.jpg") no-repeat;
    height: 100%;
    position: relative;
    border-radius: 20px;
    
}


.Paul {
    background: url("images/activité/02.Paul-L.jpg")no-repeat;
    height: 100%;
    position: relative;
    border-radius: 20px;
    
}



.Kevin {
    background: url("images/activité/03.Kevin-L.jpg")no-repeat;
    height: 100%;
    position: relative;
    border-radius: 20px;
    
}



.Kil {
    background: url("images/activité/04.Kil-XL.jpg")no-repeat;
    height: 100%;
    position: relative;
    border-radius: 20px;
    
}



.Flo {
    background: url("images/activité/05.Flo-L.jpg")no-repeat;
    height: 100%;
    position: relative;
    border-radius: 20px;
}



.Lena {
    background: url("images/activité/06.Lena-L.jpg")no-repeat;
    height: 100%;
    position: relative;
    border-radius: 20px;
}




/*------------------Footer-------------------*/